body
	{
	background-color:#303030;
	text-align:center;
	overflow:hidden;
	margin:0;
	padding:0;
	-webkit-user-select:none;
	-moz-user-select:none;
	user-select:none;
	}
.content
	{
	width:100%;
	height:100%;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin:auto;
	max-width:100%;
	max-height:100%;
	overflow:hidden;
	text-align:center;
	}
#container
	{
	width:100%;
	height:100%;
	margin-bottom:-10px;
	overflow:hidden;
	}
#container2
	{
	position:absolute;
	text-align:left;
	font-family:Arial;
	font-size:15px;
	color:white;
	text-shadow:0 0 1px #000000,0 0 5px #000000;
	left:5px;
	top:8px;
	margin-left:5px;
	z-index:999;
	cursor:default;
	display:none;
	}
.container3
	{
	position:absolute;
	bottom:0px;
	left:0px;
	right:0px;
	float:left;
	background-color:#F2F2F2;
	border-top:1px solid silver;
	font-family:Arial;
	font-size:13px;
	line-height:13px;
	margin-left:0px;
	padding-right:10px;
	padding-top:2px;
	padding-bottom:2px;
	height:30px;
	z-index:999;
	}
.leftitem
	{
	float:left;
	margin-left:2px;
	}
.buttonChanger
	{
	font-size:13px;
	font-family:Arial;
	line-height:13px;
	color:black;
	text-align:left;
	}
.separator
	{
	background-color:white;
	height:1px;
	border:0;
	}
#modelOBJ
	{
	font-size:13px;
	font-family:Arial;
	line-height:13px;
	height:30px;
	color:black;
	text-align:left;
	border:0 silver solid;
	outline:none;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	}
#modelOBJ:disabled
	{
	font-size:13px;
	font-family:Arial;
	line-height:13px;
	height:30px;
	color:grey;
	text-align:left;
	border:0 silver solid;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	}